#[[source]]
#url = "https://pypi.org/simple"
#verify_ssl = true
#name = "pypi"#

# pip install keyring artifacts-keyring
# pip install twine keyring artifacts-keyring
# pip install fabelcommon --index="https://pkgs.dev.azure.com/fabel-lyd/Fabel/_packaging/pip/pypi/simple/"
[[source]]
url = "https://pkgs.dev.azure.com/fabel-lyd/Fabel/_packaging/pip/pypi/simple/"
verify_ssl = true
name = "pip"

# pipenv install twine
# twine upload -r pip dist/*
#.pypirc
#[distutils]
#index-servers =
#  pipx
#
#[pipx]
#repository = https://pkgs.dev.azure.com/fabel-lyd/Fabel/_packaging/pip/pypi/upload/

[packages]
pytz = "==2023.3"
requests = "==2.31.0"
xmltodict = "==0.13.0"
djangorestframework = "==3.14.0"
lxml = "==4.9.2"
setuptools = "==67.8.0"

[dev-packages]
flake8 = "==6.0.0"
pyright = "==1.1.304"
pytest = "==7.3.1"
pytest-django = "==4.5.2"
pytest-mock = "==3.10.0"
requests-mock = "==1.10.0"
xmldiff = "==2.6.3"
freezegun = "==1.2.2"
twine = "==4.0.2"

[requires]
python_version = "3.8"
