[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "==2023.3"
requests = "==2.31.0"
xmltodict = "==0.13.0"
djangorestframework = "==3.14.0"
lxml = "==4.9.2"
setuptools = "==67.8.0"

[dev-packages]
flake8 = "==7.0.0"
pyright = "==1.1.304"
pytest = "==7.4.2"
pytest-django = "==4.5.2"
pytest-mock = "==3.10.0"
requests-mock = "==1.10.0"
xmldiff = "==2.6.3"
freezegun = "==1.2.2"

[requires]
python_version = "3.8"
